.form-select {
    padding: 5px 10px !important;
    border: solid 1px #009ed6 !important;
    background-color: #fff !important;
}

.form-control {
    border: solid 1px #009ed6 !important;
    background-color: #fff !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.offcanvas.offcanvas-bottom{
    max-height:40% !important;
}

.offcanvas-header{
    padding-bottom:0px !important;
}

.offcanvas-body{
    padding-top:0px !important;
}
.modal-header{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.modal-body{
    padding: 10px 30px !important;
}

.form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.85rem !important;
    padding-bottom: 0.625rem !important;
}
/* width */
::-webkit-scrollbar {
    width: 15px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #333 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #009ed6 !important;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #1d76bc !important;
    }
.dx-scrollable-scroll-content {
    background: #009ed6 !important;
}
.symbol.symbol-50px .symbol-label {
    width: auto !important;
    height: auto !important;
    padding: 5px 10px !important;
}
input.inputmilestone {
    border: none !important;
    width:100% !important
}
    input.inputmilestone:focus-visible{
        border:none !important
    }